header{
  background-color:darkcyan;
  position: fixed;
  width: 100%;
}
.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}
main{
  background-color: chartreuse;
  height: 100vw;
  display: flex;
  width: 1200px;
  margin:0 auto;
}
.navbar{
  width: 250px;
  background-color: darkgoldenrod;
  padding: 24px;
}
.feed{
  background-color: darkgray;
  width: 100%;
  padding: 24px;
}